Body {
    background-color: rgb(50, 205, 50);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

header,
footer {
    text-align: center
}

nav a:link,
nav a:visited {
    color: blue;
    background-color: aqua;
    font-size: medium;
    margin: 10px;
    padding: 5px;
    text-decoration: none;
}

nav a:hover {
    color: darkgreen;
    background-color: aquamarine;
}

h1 {
    color: rgb(3, 3, 3);
    background-image: url('images/Sicilian.svg');
    background-position: center;
    background-repeat: repeat;
    background-color: royalblue;
    background-size: 20% auto;
    padding: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 80%;
    margin: auto;
}

h2 {
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(0, 255, 128);
    font-size: 20px;
}

p {
    text-align: center;
}


/* The paragraphs on the menu page are not centered because there is inline css on the html pages that states the paragraphs should be justified */

ul {
    list-style-type: circle;
}

dt {
    font-weight: bold;
    font-size: large;
    background-color: red;
    color: white;
    padding: 3px;
    margin-bottom: 5px;
    margin-top: 5px;
}

main img {
    display: block;
    margin: auto;
}

footer span {
    font-weight: bold;
}

main {
    width: 80%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: auto;
}

table {
    border-collapse: collapse;
}

table,
th,
td {
    border: thick solid red;
    border-spacing: 20px;
}

th {
    background-color: red;
}

mark {
    background-color: red;
}

h3 {
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(0, 255, 128);
    font-size: 16px;
}

input {
    margin-top: 10px;
    margin-bottom: 10px;
}